@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* <weight>: Use a value from 300 to 700 */

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #808080;
    --tertiary-color: #FEA301;
}
.display-flex {
    display: flex;
}
.primary-btn {
    border-radius: 12px;
    border: none;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 60px;
}
body {
    max-width: calc(100% - 40px);
    margin: 0px 20px;
}
.section-title {
    font-size: 3rem;
    font-weight: bold;
}
/* navbar styles */
.nav-container {
    justify-content: space-between;
}
.left-nav {
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: bold;
}
.middle-nav {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.middle-nav li {
    list-style: none;
}
.middle-nav li > a {
    text-decoration: none;
    color: inherit;
}
.middle-nav1 {
    color: var(--tertiary-color);
    font-size: 1.25rem;
    font-weight: bold;
}
.middle-nav2, .middle-nav3, .middle-nav4 {
    font-size: 1.25rem;
    font-weight: 500;
}
.middle-nav2 {
    color: #01ACFD;
}
.middle-nav3 {
    color: rgba(5, 212, 223, 1);
}
.middle-nav4 {
    color: rgba(93, 88, 239, 1);
}
.right-nav {
    justify-content: center;
    align-items: center;
}
.right-nav > button {
    background-color: #FEA301;
}
.mobile-hr, .menu-icon {
    display: none;
}
.menu-icon {
    font-size: 24px;
    cursor: pointer;
}
/* banner styles */

.banner-container {
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.banner-title, .banner-description {
    padding-bottom: 1rem;
}
.banner-title {
    font-size: 4rem;
    font-weight: bold;
}
#part-1 {
    color: var(--tertiary-color);
}
#part-3 {
    color: #01ACFD;
}
.banner-description {
    font-size: 1.25rem;
}
.banner-btn {
    background-color: #111111;
}
.banner {
    padding-bottom: 3.5rem;
}

/* curriculum */
.curriculum {
    margin-bottom: 5rem;
}
.curriculum-title {
    justify-content: center;
    align-items: center;
    background-image: url("../assets/bg.png");
    padding-bottom: 4rem;
}
.curriculum-items{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 28px;
}
.c-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 2rem;
    border-radius: 19px;
}
 .c-item1 > button{
    color: #64C8FF;
    background-color: #FFFFFF;
 }
 .c-item2 > button{
    color: #F0AA00;
    background-color: #FFFFFF;
 }
 .c-item3 > button{
    color: #8700FF;
    background-color: #FFFFFF;
 }
 .c-item1 {
    background: linear-gradient(180deg, #DEFFFF 0%, rgba(255, 255, 255, 0) 40%);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
 }
 .c-item2 {
    background: linear-gradient(180deg, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
 }
 .c-item3 {
    background: linear-gradient(180deg, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
 }
.curriculum-item-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
    margin: 0px;
}
.curriculum-item-description {
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-color);
}
.curriculum-item-btn {
    font-size: 1rem;
    font-weight: bold;
    border: none;
}
/* arrow */
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}
.arrow p{
    background-color: #FEA301;
    color: #FFFFFF;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: none;
    margin: 5px;
    font-size: 2rem;
    font-weight: bolder;
    display: inline;
    padding: 15px;
    text-align: center;
}

/* responsive design for Mobile device */
@media screen and (max-width: 576px) {
    .secondary-title,
    .middle-nav,
    .right-nav {
        display: none;
    }
    .nav-container {
        justify-content: space-between;
        align-items: center;
      }
      .menu-icon {
        display: block;
      }
    .mobile-hr {
        display: block;
        border: 1px solid var(--tertiary-color);
      }
      .banner-container {
        flex-direction: column-reverse;
      }
      .banner-column {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: calc(100% - 40px);
        flex-direction: column;
      }
      .banner-title, .banner-description {
        text-align: center;
      }
      .curriculum-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 28px;
    }
}